@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=RocknRoll+One&display=swap');

*{
    
    margin: 0;
}


body{
    text-align: center;
    background-color: rgb(0, 255, 106);
}

h2{
    margin-top: 200px;
    font-family: 'RocknRoll One', cursive;
}

.main-container{
    background-color:transparent    ;
}

#password{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0px 0px 2px 0px  black inset;
   
    border-color: transparent;
    border-radius: 6px;
}

#button{
    padding: 7px;
    border: 2px solid;
    border-color: transparent;
    border-radius: 6px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 5px 0px  black inset;
}

#button:hover{
    padding: 7px;
    border: 2px solid;
    border-color: transparent;
    border-radius: 6px;
    border-color: white;
    color: white;
    
    background-color: rgb(41, 35, 35);
    transition: all 0.3s ease-in-out;
}
